div.title{
width: 1000px;
height: 50px;
background-color: skyblue;
font-size: 50px;
margin-bottom: 20px;
}

span.menuitem{
    display: inline-block; 
    vertical-align: top;
    width: 190px;
    height: 40px;
    background-color: beige;
    font-size: 30px;
    font-family: "Impact";
    margin-bottom: 20px;
    
}
div.menu{
    font-size: 0;
    width: 1000px;
}

div.images{
    font-size: 0;
    width: 1000px;
}
div.style{
    margin-left: 10px;
}
h1.link{
    color: aquamarine;
    text-align: center;
    
}
  
