div.title{
width: 1000px;
height: 50px;
background-color: skyblue;
font-size: 40px;
margin-bottom: 20px;
}
div.a{
    text-align: center;
    font-size: 40px;
    background-color:beige;
        
}
div.b{
    text-align: center;
    
}
div.c{
    text-align:center;
    font-size: 30px;
    background-color: beige;
    
}
div.d{
    font-size: 20px;
}